body{
    background-color: black;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: 100%;
    margin: O;
    padding: O;
}
.conteneurPincipale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 145, 50);
}
#conteneurSecond{
    
}
#div0{
    width: 595px;
    height: 842px;
    /* margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%; */
    background-color:rgb(255,255 , 255);
}
#div1{
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: 5%;

    background-color: #F0F0F0;
}
#div2{ position: relative;
    width: 100%;
    height: 30%;
    background-color: #333333;
    border-radius: 0px 0px 100px 100px;
}

#div3{
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 50%;
    margin-left:5% ;
    margin-bottom: 5%;
    background-color: #333333;
    border-radius: 100px 100px 0px 0px ;
}

#div4cercle{ position: absolute;
    width: 80%;
    height: 50%;
    bottom: 5%;
    left: 10%;
    border-radius: 50%; 

    background-color: #F0F0F0;
}
#div5{position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
    margin-top: 40% ;
}
#div5 i{
    color: black;
}
#divplanDroit{
    border: 1px solid black;
    width: 55%;
    height: 100%;
    margin-left: 40%;
    margin-top: -141.5%;


}
#imag1{position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

#iconeContact{
    width: 15%;
    height: 3%;
}
#Nom{
    font-size: 12px;
    color: white;
    margin-top: 10%;
    margin-left: 18%;

}
#pNom{
    font-size: 12px;
    color: white;
    position: relative;
    margin-left: 20%;
    bottom: -20%;

}
#elec{
    font-size: 10px;
    color: white;
    position: relative;
    margin-left: 35%;
    bottom: -15%;

}
#CONT{
    margin-top: -15%;
    margin-left: 28%;
}
#iCONT{
    width: 15%;
    height: 10%;
    margin-left: 10%;
    margin-top: 20%;
}
#numerero{
    margin-left: 10%;

}
#Email{
    margin-left: 10%;
    position: relative;
    bottom: 5%;

}
#lieu{
    margin-left: 10%;
    position: relative;
    bottom: 10%;

}
#ieduc{
    background-color: #F0F0F0;

    height: 6%;
    margin-left: 8%;
    margin-top: 40%;
    border-radius: 50%;

}
#education{
    color: white;
    margin-top: -15%;
    margin-left: 28%;

}
#Mater{
    margin-left: 4%;
    color: rgb(255, 247, 247);
    font-size: 12px;
}
#Licence{
    margin-left: 4%;
    color: rgb(255, 247, 247);
    font-size: 12px;
    position: relative;
    bottom: 2%;

}
#Ecole{
    margin-left: 8%;
    color: rgb(194, 182, 182);
    font-size: 10px;
    position: relative;
    bottom: 2%;


}
#Ecolee{
    margin-left: 8%;
    color: rgb(194, 182, 182);
    font-size: 10px;
    position: relative;
    bottom: 3%;

}
#iREFERENCE{
    background-color: #F0F0F0;

    height: 6%;
    margin-left: 8%;
    border-radius: 50%;
    position: relative;
    bottom: 2%;

}
#REFERENCE{
    color: white;
    margin-top: -15%;
    margin-left: 28%;
    position: relative;
    bottom: 2%;



}
#Mamadou{
    margin-left: 8%;
    color: rgb(255, 247, 247);
    font-size: 12px;
     position: relative;
    bottom: 2%;

}
#secreteur{
    margin-left: 8%;
    color: rgb(194, 182, 182);
    font-size: 10px;
    position: relative;
    bottom: 4%;

}
#Drissa{
    margin-left: 8%;
    color: rgb(255, 247, 247);
    font-size: 12px;
    position: relative;
    bottom: 5%;

}
#Directeur{
    margin-left: 8%;
    color: rgb(194, 182, 182);
    font-size: 10px;
    position: relative;
    bottom: 7%;



}
#cc{
    width: 70%;
    height: 2%;
    background-color: black;
    margin-top: 10%;
    border-radius: 30px;
}
#cv{
    width: 50%;
    height: 100%;
    background-color: rgb(73, 71, 71);
    border-radius: 30px 0px 0px 30px;
}
/* le text du profil et son image*/
#PROFIL{
    margin-top: -9%;
    margin-left: 25%;
}
#iProfil{
    width: 11%;
    margin-left: 10%;
    margin-top: 20%;
    border-radius: 50%;

}
#pProfil{
    font-weight: normal;
    font-size: 60%;
}
/* le text de  l'experience et son image*/

#EXPERIENCES{
    margin-top: 2%;
   margin-left: 33px;
    display: flex
;
    align-items: center;
   
}
.icon{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
 i{
font-size: 20px;
color: white;
}
#StageT{
    font-size: 65%;
}
#pStageT{
    font-weight: normal;
    margin-top: -2%;
    font-size: 60%;
}
#StageP{
    margin-top: -2%;
    font-size: 65%;
}
#pStageP{
    font-weight: normal;
    margin-top: -2%;
    font-size: 60%;
}
/* Titre du  COMPETENCES */
#COMPETENCES{
    margin-left: 25%;
    margin-top: -8%;
    height: 5%;
    display: flex;
    
}
#iCOMPETENCES{ position: relative;
    margin-top: 10%;
    margin-left: 10%;
    width: 11%;
    height: 4%;
    border-radius: 50%;
    background-color: black;
}
#iCOMP{
    margin-top: 15%;
    margin-left: 10%;
    font-size: 152%;

    
}
#divCOMPETENCE{
}
#Aduino{position: relative;
    display: flex;
    justify-content: space-between;

    font-size: 65%;
}

#niveauAduino1{ position: absolute;
    height: 50%;
    width: 50%;
    background-color: black;
    left: 30%;;
    top: 30%;
    border-radius:10px  ;

}
#niveauAduino2{
    position: absolute;
    height: 50%;
    width: 40%;
    background-color: rgb(230, 216, 216);
    left: 29%;;
    top: 30%;
    border-radius:10px ;

}
#Python{ position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 65%;

}
#niveauPython1{
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: black;
    left: 30%;;
    top: 30%;
    border-radius:10px  
    

}
#niveauPython2{
    position: absolute;
    height: 50%;
    width: 30%;
    background-color: rgb(230, 216, 216);
    left: 29%;;
    top: 30%;
    border-radius:10px ;

}
#CircuitMaker{
    position: relative;
    font-size: 65%;
}
#niveauCircuitMaker1{
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: black;
    left: 30%;;
    top: 30%;
    border-radius:10px  

}
#niveauCircuitMaker2{
    position: absolute;
    height: 50%;
    width: 43%;
    background-color: rgb(230, 216, 216);
    left: 29%;;
    top: 30%;
    border-radius:10px ;
}
#NIMultisim{
    position: relative;
    font-size: 65%;

}
#niveauNIMultisim1{
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: black;
    left: 30%;
    top: 30%;
    border-radius:10px  
}
#niveauNIMultisim2{
    position: absolute;
    height: 50%;
    width: 33%;
    background-color: rgb(230, 216, 216);
    left: 29%;
    top: 30%;
    border-radius:10px ;

}
#LANGUE{


}
#pLANGUE{
    font-weight: normal;
    font-size: 65%;

}

#pLOISIR{
    font-weight: normal;
    font-size: 65%;

}
#conteurLANGUE{
    display: flex;
    justify-content: space-between;
}
#conteurLANGUE i{
    color: black;
}
@media screen and (max-with:375px)
{
    body{
        width:100vw;
        background-color: white;
    }
    #div0{
            width: 100%;
    }
}